html{
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
html{
	height: 100%;
}
body{
	min-height: 100%;
	color: #fff;
	background-color: #384047;
	margin: 0;
	padding: 0;
	font-size: 12px;
	-webkit-text-size-adjust: none;
	position: relative;
}
a{
	color: #fff;
}
header{
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 20px;
}
header a{
	margin-left: 1em;
	opacity: .3;
	text-decoration: none;
}
header a:hover{
	opacity: .7;
	text-decoration: underline;
}
h1{
	display: inline;
	font-size: 20px;
	font-weight: normal;
	line-height: 1em;
	opacity: .5;
	z-index: 3;
	font-weight: 300;
	white-space: nowrap;
}
#life{
	padding-top: 40px;
	padding-bottom: 5em;
}
#life section.year{
	min-height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-left: 1px dashed rgba(255,255,255,.1);
	color: rgba(255,255,255,.3);
	position: absolute;
	top: 0;
	bottom: 0;
	padding-left: 10px;
	padding-top: 10px;
	pointer-events: none;
    font-size: smaller;
	font-weight: 300;
	white-space: nowrap;
}
#life .event{
	padding-right: 20px;
	padding-bottom: 5px;
	vertical-align: middle;
	white-space: nowrap;
}
#life .event b{
	font-weight: normal;
	color: rgba(255,255,255,.5);
}
#life .event .time{
	display: inline-block;
	overflow: hidden;
	height: 0;
	border-width: 4px;
	border-style: solid;
	border-radius: 4px;
	margin-right: 10px;
	opacity: .6;
	position: relative;
	left: -2px;
}
#life .event:hover .time{
	opacity: .9;
}

/* https://app.contrast-finder.org/result.html?foreground=%234ACBF0&background=%23384047&ratio=7&isBackgroundTested=false&algo=HSV&lang=en */
/*  "#aae0f0" */
/*  "#4af0b1" */
/*  life "#62f065" */
/*  "#abf04a" */
/*  "#f0d562" */
/*  job "#f0ccc2" */
/*  "#dadef0" */
/*  "#e4daf0" */
/*  "#ffebf0" */
/*  "#f0daf0" */
/*  "#ffebe7" */
/*  "#f0dae2" */
/*  "#ffeb4b" */

.pl  { border-color: #7eff61; }
.ml, .ql { border-color: #63ffd4; }
.birth { border-color: #4acbf0; }
.life { border-color: #62f065; }
.job { border-color: #f0ccc2; }
.os  { border-color: #ff4af4; }
.db  { border-color: #fff784; }
.fw  { border-color: #00b7ff; }
.sc  { border-color: #ff8f31; }
.api { border-color: #fff; }
.paas { border-color: #aa4aff; }

.time .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 1;
  z-index: 100;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.time .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.time .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

#life .event .time:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

